body{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 25px 0 25px;
    background-color: black;
}

.logotext{
    font-size: 35px;
    font-weight: 600;
    color: white;

    text-transform: uppercase;
	background: linear-gradient(to right, #ffd2c6 0%, #ddc1ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main{
    width: 95%;
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    color: white;
}

.sprint{
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    padding-left: 10px;
    margin-bottom: 5px;
}

.buttons{
    /* border: 1px solid white; */
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 200;
}

.buttons>a{
    color: rgb(182, 178, 178);
    text-decoration: none;
    background-color: rgb(4, 4, 4);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px;
}